@media screen and (min-width: 0px) and (max-width: 767px) {

.header-list-nav, .header-list-icon{
    display: none;
  }

#header {
  padding: 10px 40px;
}

#hero {
  width: 100%;
  background-size: cover;
  background-position: 62%;
  padding:10px;
  margin-top:12px;
}

#hero h4 {
  font-size: 30px;
}

#hero h2,
#hero h1 {
  font-size: 48px;
}

#hero button {
  background-size: contain;
  background-position: center;
  width: 175px;
  font-size: 14px;
  padding: 10px;
  
}

#banners .big-banners {
  padding:0px 12px;
  margin:8px 0px;
  gap:12px;
}
  
#banners .big-banners div {
  min-width: 100%;
  margin:0px;
  padding:15px;
}

#banners .small-banners {
  padding:0px 12px;
  margin:8px 0px;
  gap:12px;
}

#banners .small-banners div {
  min-width: 100%;
  margin:0px;
}

#features {
  max-width:100%;
  padding:0px 10px;
}

#features .f-box {
  width: 48%;
}

.product-section .product-collection {
  margin: 30px;
  gap:15px;
}

.product-section .product-cart {
  width: 100%;
  margin-bottom: 0px;
}

#off-banner {
  height: 30vh;
}

#off-banner h4 {
  font-size: 14px;
}

#off-banner h2 {
  font-size: 21px;
  padding: 0px;
  line-height: 36px;
}

button.normal {
  padding: 10px 20px;
}

#newsletter {
  flex-direction: column;
  height:auto;
  padding:25px;
  gap:15px;
  text-align: center;
}

#newsletter .newsletter-text h3 {
  font-size: 24px;
  padding:0px;
}

#newsletter .newsletter-text h5 {
  font-size: 15px;
  padding: 15px 0;
}

#newsletter .form{
  display: flex;
  align-items: center;
  justify-content: center;
}

#newsletter .form input {
  font-size:15px;
  width: 70%;
  height: 56px;
}

#newsletter .form button {
  margin-left: 0;
  padding:5px;
  height: 60px;
  width: 28%;
}

#footer {
  flex-direction: column;
  padding: 25px;
  gap:15px;
}

}

@media screen and (min-width: 768px) and (max-width: 1023px) {


.header-list-nav, .header-list-icon{
  display: none;
}

#header {
  padding: 10px 40px;
}

#hero {
  width: 100%;
  background-size: cover;
  background-position: 62%;
  padding:30px;
  margin-top:12px;
}

#hero h4 {
  font-size: 30px;
}

#hero h2,
#hero h1 {
  font-size: 48px;
}

#hero button {
  background-size: contain;
  background-position: center;
  width: 175px;
  font-size: 14px;
  padding: 10px;
  
}

#features {
  max-width:100%;
  padding:0px 10px;
}

#features .f-box {
  width: 200px;
}

.product-section .product-collection {
  margin: 30px;
  gap:15px;
}

.product-section .product-cart {
  width: 48%;
  margin-bottom: 0px;
}

#banners .big-banners, #banners .small-banners {
  padding:0px 12px;
  margin:8px 5px;
  gap:8px;
}

#banners .big-banners div {
  min-width: 100%;
  margin:0px;
  background-position: top;
}

#banners .small-banners div {
  min-width: 100%;
  margin:0px;
  height:250px;
  background-position: top;
}

#off-banner {
  height: auto;
  padding:25px;
}

#off-banner h4 {
  font-size: 14px;
}

#off-banner h2 {
  font-size: 21px;
  padding: 0px;
  line-height: 36px;
}

button.normal {
  padding: 10px 20px;
}

#newsletter {
  flex-direction: column;
  align-items: center;
  height: auto; 
  background-size: cover;
  background-position: center;
  padding:25px;
  gap:12px;
  text-align: center;
}

#newsletter .newsletter-text h3 {
  font-size: 24px;
  padding:0px;
}

#newsletter .newsletter-text h5 {
  font-size: 15px;
  padding: 15px 0;
}

#newsletter .form{
  display: flex;
  align-items: center;
  justify-content: center;
}

#newsletter .form input {
  width: 70%;
  height: 56px;
}

#newsletter .form button {
  margin-left: 0;
  padding:0px;
  height: 65px;
  width: 25%;
}

#footer {
  flex-direction: column;
  padding: 50px;
  gap:15px;
}
 
#footer .install{
  display: none;
}

}


@media screen and (min-width: 1024px) and (max-width: 1360px) {

  .hamburger-menu{
      display: none;
  }
  
  #features {
    max-width:100%;
    padding:0px 10px;
  }
  
  #features .f-box {
    width: 150px;
  }
  
  .product-section .product-collection {
    margin: 30px;
    gap:12px;
  }
  
  .product-section .product-cart {
    width: 24%;
    margin-bottom: 0px;
  }
  
  #banners .big-banners, #banners .small-banners {
    padding:0px 12px;
    margin:8px 5px;
    gap:12px;
  }
    
  #banners .big-banners div {
    min-width: 48%;
    margin:0px;
    background-position: top;
  }
  
  #banners .small-banners div {
    min-width: 30%;
    margin:0px;
    height:200px;
    background-position: top;
  }
  
  #off-banner {
    height: 30vh;
  }
  
  #off-banner h4 {
    font-size: 14px;
  }
  
  #off-banner h2 {
    font-size: 21px;
    padding: 0px;
    line-height: 36px;
  }
  
  button.normal {
    padding: 10px 20px;
  }
  
  #newsletter {
    height: 25vh; 
    background-size: cover;
    background-position: center;
    padding:25px;
    gap:12px;
  }
  
  #newsletter .newsletter-text h3 {
    font-size: 24px;
    padding:0px;
  }
  
  #newsletter .newsletter-text h5 {
    font-size: 15px;
    padding: 15px 0;
  }
  
  #newsletter .form{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #newsletter .form input {
    width: 70%;
    height: 56px;
  }
  
  #newsletter .form button {
    margin-left: 0;
    padding:0px;
    height: 65px;
    width: 25%;
  }
  
  #footer {
    padding: 25px;
     justify-content: space-around;
  }
  
  #footer .install{
    display: none;
  }
  
  }

@media screen and (min-width: 1361px) {

  .hamburger-menu{
      display: none;
  }
  
  }
